/* reset.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
/* UTILITY */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*  ____________________________________________ */
/* mystyles.css */
/* Roboto font for the text */
/* CSS HEX */
:root {
  --mine_shaft: #242323;
  --emperor: #555555;
  --boulder: #7C7C7C;
  --silver_chalice: #A5A5A5;
  --nobel: #B3B3B3;
  --light_gray: #D1D1D1;
  --mercury: #E4E4E4;
  --comet_colour: #4f506d;
  --seance_colour: #691376;
  --camelot_colour_dark: #3e192f;
  --camelot_colour: #7C325E;
  --snow_white: #F9F9F9;
}
/*  ____________________________________________ */
html, body {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Lato', sans-serif;
}
header, nav.scrolled {
  background: linear-gradient(90deg, var(--seance_colour), var(--comet_colour));
}
nav {
  max-width: 1440px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
a, a:hover {
  color: var(--snow_white);
  text-decoration: none;
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.logo_container {
  grid-area: 0.25;
}
.links_container {
  grid-area: 0.0833333333;
  flex-direction: column;
}
.contact_container {
  grid-area: 0.0416666667;
}
.imprint_container {
  grid-area: 0.025;
}
footer svg {
  fill: var(--snow_white);
}
/*  ____________________________________________ */
/* Shape wave after header */
.shape-divider {
  /*
   position: absolute;
   bottom: 0;
   left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.shape-divider svg {
  position: relative;
  display: block;
  width: calc(215% + 1.3px);
  transform: rotateY(180deg);
  translate: -2px;
}
.shape-divider .shape-fill {
  fill: var(--snow_white);
}
/*  ____________________________________________ */
/* Timeline */
.timeline {
  position: relative;
  width: 948px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #7c325e;
  background: -moz-linear-gradient(top, rgba(124, 50, 94, 0) 0%, #7c325e 4%, #7c325e 96%, rgba(124, 50, 94, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(124, 50, 94, 0) 0%, #7c325e 4%, #7c325e 96%, rgba(124, 50, 94, 0) 100%);
  background: -o-linear-gradient(top, rgba(124, 50, 94, 0) 0%, #7c325e 4%, #7c325e 96%, rgba(124, 50, 94, 0) 100%);
  background: -ms-linear-gradient(top, rgba(124, 50, 94, 0) 0%, #7c325e 4%, #7c325e 96%, rgba(124, 50, 94, 0) 100%);
  background: linear-gradient(to bottom, rgba(124, 50, 94, 0) 0%, #7c325e 4%, #7c325e 96%, rgba(124, 50, 94, 0) 100%);
  z-index: 5;
}
.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.direction-l {
  position: relative;
  width: 440px;
  float: left;
  text-align: right;
}
.direction-r {
  position: relative;
  width: 440px;
  float: right;
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:before, .direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -44px;
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: var(--snow_white);
  border-radius: 10px;
  border: 5px solid var(--camelot_colour);
  z-index: 10;
}
.direction-r .flag:before {
  left: -44px;
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.desc {
  margin: 1em 0 0 0;
  font-style: italic;
  line-height: 1.5em;
}
.desc h4 {
  font-weight: bold;
}
.direction-r .desc {
  margin: 1em 0 0 0;
}

/*  ____________________________________________ */
/* Photos */
.image_random {
  background-size: cover;
  background-position: center center;
  background-color: whitesmoke;
  height: 18rem;
  width: 18rem;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)) grayscale(100%);
}
.image_random:hover {
  filter: grayscale(0);
}

/*  ____________________________________________ */
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/*  ____________________________________________ */
/* Media Queries */
@media screen and (max-width: 1200px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .links_container {
    grid-area: 0.0833333333;
    flex-direction: column;
  }
  .contact_container {
    grid-area: 0.0416666667;
  }
  .imprint_container {
    grid-area: 0.1666666667;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .timeline {
    width: 750px;
  }
  .direction-l, .direction-r {
    width: 342px;
  }
}
@media screen and (max-width: 768px) {
  .timeline {
    width: 450px;
  }
  .timeline::before {
    z-index: 0;
  }
  .direction-l, .direction-r {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 1rem;
    text-align: left;
  }
  .direction-r .flag-wrapper {
    left: 259px;
  }
  .direction-l .flag-wrapper {
    left: 139px;
  }
  .image_random {
    height: 10rem;
    width: 10rem;
  }
  footer {
    display: inline-block;
  }

  .contact_container li {
    text-align: center;
    align-self: center;
  }
  .contact_container li:nth-child(5) {
    display: none;
  }
  .imprint_container {
    padding: 0;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark) {
  .timeline::before {
    background: linear-gradient(to bottom, rgba(124, 50, 94, 0) 0%, #5e4253 4%, #5e4253 96%, rgba(124, 50, 94, 0) 100%);
  }
  .direction-l .flag::before, .direction-r .flag::before {
    border-color: #5e4253;
  }
}
@media only screen and (max-width: 768px) and (prefers-color-scheme: light) {
  .timeline::before {
    background: linear-gradient(to bottom, rgba(124, 50, 94, 0) 0%, #d2cacf 4%, #d2cacf 96%, rgba(124, 50, 94, 0) 100%);
    opacity: 0.4;
  }
  .direction-l .flag::before, .direction-r .flag::before {
    border-color: #d2cacf;
  }
}

@media screen and (max-width: 640px) {
  .timeline {
    width: 100%;
  }
  .timeline::before {
    display: none;
  }
  .direction-l .flag::before, 
  .direction-r .flag::before,
  .direction-l .flag::after, 
  .direction-r .flag::after {  
    display: none;
  }

  .direction-r .flag-wrapper,
  .direction-l .flag-wrapper {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .image_random {
    height: 6rem;
    width: 6rem;
  }
}
