/*----- Toggle Button -----*/
.toggle-nav {
	display:none;
}

/*----- Responsive -----*/
@media screen and (max-width: 768px) {
    .toggle-nav {
        display: inline-block;
    }

	.menu {
		display:inline-block;
	}

	.menu ul.active {
		display:none;
	}



	.menu ul:after {
		width: 0px;
		height: 0px;
		position: absolute;
		top: 0%;
		right: 22px;
		content: '';
		transform: translate(0%, -100%);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #242323;
	}

}